---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-28 ml-auto">
            <div class="lg:w-5/6 text-center mx-auto">
              
              <img class="w-2/3 mx-40  "src="/images/Frame-1-2.webp" alt="">
                <h1 class="pt-4 text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-6xl">Simplifying health system <span class="text-primary dark:text-white">operations</span></h1>
                <p class="text-lg font-semibold mt-8 text-gray-700 dark:text-gray-300">
                  Xtensys Connected Health Solutions is committed to making it simpler and more affordable for all types of health systems to modernize their technology and improve patient outcomes. Through a combination of real-world health care experience and in-depth expertise, Xtensys is advancing care with every connection. Take a look at what we've recently delivered at <a class="text-sky-400 after:content-['_↗'] ..." href="https://cayugahealth.org/news-and-articles/">Cayuga Health System</a>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-xl font-semibold text-white"
                        >Reach Out!</span
                      >
                    </a>
                    <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-xl text-lg font-semibold text-primary dark:text-white"
                        >Learn More</span
                      >
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-center">
                        <h6 class="text-2xl font-semibold text-green-300">Electronic Medical Records </h6>
                        <p class="mt-2 text-gray-500">ya might need 'em</p>
                    </div>
                    <div class="text-center">
                        <h6 class="text-2xl font-semibold text-green-300">Enterprise Management Systems</h6>
                        <p class="mt-2 text-gray-500">yeah, ya need this too</p>
                    </div>
                    <div class="text-center">
                        <h6 class="text-2xl font-semibold text-green-300">Revenue Cycle Management</h6>
                        <p class="mt-2 text-gray-500">well, obviously</p>
                    </div>
                </div>
            </div>
            <div class="mt-12 grid sm:grid-cols-2 md:grid-cols-3">
                <div class="p-4">
                    <img src="./images/clients/microsoft.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                <div class="p-4">
                  <img src="./images/clients/Epic_Systems.svg" class="h-12 w-auto mx-auto " loading="lazy" alt="client logo" width="" height="" />
                </div>
                <div class="p-4 ">
                  <img src="./images/clients/Amazon_Web_Services_Logo.svg" class="h-12 w-auto mx-auto " loading="lazy" alt="client logo" width="" height="" />
                </div>
                
              </div>
        </div>
    </Container>
</div>